<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}
    <p>{{page}} not Found!</p>
    </div>
    
    {{>footers}}
</body>

</html>